<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="description" content="post: This page is for filling out a form with business information, payment of choice and acception terms & conditions to start the advertising process.">
</head>
<body>

    <header></header>

    <main>
        <aside class="fixed">
            <h1>Hair Spray</h1>
            <div>
              <h2><a href="#spray1">"COLOR WOW" Dream Coat Supernatural Spray</a></h2>
                <h3>Keep Your Hair Frizz-Free and Shiny No Matter the Weather with Award-Winning Anti-Frizz Spray</h3>
                <h4>By: Charles Tiffany, Jun 1st 2024</h4>
            </div>
          </aside>
          <h6></h6>
          <div class="blog">
            
          </div>
    </main>

    <footerall></footerall>
    <script src="./src/scripts/index.js"></script>
</body>
</html>

