<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="description" content="Homepage: About page image slider and about owners">
</head>
<body>

  <header></header>

  <main class="index">
        
    <div class="newsLetter">
      <div class="newsLetterTitle">Subscribe To Our Weekly Newsletter!</div>
      <div class="newsLetterBtn">
        <p>
        <input type="email" placeholder="Email..." id="subInput"/>
        <input type="email" placeholder="First & Last Name..." id="subInputName"/>
        </p>
        <div id="subBtn">Subscribe</div>
      </div>
    </div>
    <p id="subError" ></p>
    <div class="about">
      <div>
        <h2>Welcome to The Daily Hairoscope!</h2>
        <p>
          Welcome to The Daily Hairoscope! We're here to inspire, educate, and
          empower you to achieve the hair of your dreams. Our passionate team
          of hair enthusiasts and beauty experts offers expert advice, product
          reviews, styling tips, and DIY solutions to help you embrace and
          celebrate your unique hair journey.
        </p>
        <p>
          Join our community by following us on social media, subscribing to
          our newsletter, and sharing your own hair stories. We're excited to
          be a part of your haircare journey and look forward to helping you
          achieve all your hair goals. Thank you for visiting!
        </p>
      </div>
    </div>
    <div class="top5">
      <div class="centerTop5">
        <h1>Top 5 Blogs of The Week</h1>
        <ul>
          <li>
            <div>
              <h2>
                <a href="hairRemoval.html#removal3"
                  >One Finishing Touch Flawless Facial Hair Remover</a
                >
              </h2>
              <img
                src="<%= require('../../assets/images/flawlessLegsFace.webp') %>"
                alt="One Finishing Touch Flawless Facial Hair Remover"
              />
              <h4>By: Flawless Legs, June 1st 2024</h4>
            </div>
          </li>
          <li>
            <div>
              <h2>
                <a href="hairSpray.html#spray1"
                  >Frizz-Free Fabulousness: Transform Your Hair with
                  Supernatural Spray!</a
                >
                <img
                  src="<%= require('../../assets/images/colorWow.webp') %>"
                  alt="Supernatural Spray"
                />
              </h2>
              <h4>By: COLORWOW, June 2nd 2024</h4>
            </div>
          </li>
          <li>
            <div>
              <h2>
                <a href="detanglers.html#detangler2"
                  >Embrace Your Curls: The Bestool Detangling Brush Review</a
                >
              </h2>
              <img
                src="<%= require('../../assets/images/bestoolBrush.webp') %>"
                alt="Bestool Detangling Brush"
              />
              <h4>By: Curly Girl, Jun 1st 2024</h4>
            </div>
          </li>
          <li>
            <div>
              <h2>
                <a href="coloringAndDyes.html#coloringAndDyes2"
                  >Unlock Youthful Brilliance with Garnier Hair Color Nutrisse
                  Nourishing Creme</a
                >
              </h2>
              <img
                src="<%= require('../../assets/images/garnierDye.webp') %>" 
                alt="Garnier Hair Color Nutrisse Nourishing Creme in Soft Mahogany Brown (Raspberry Truffle)"
              />
              <h4>By: BOLDIFY, April 22nd 2024</h4>
            </div>
          </li>
          <li>
            <div>
              <h2>
                <a href="detanglers.html#detangler3"
                  >Unleash Your Hair's Potential: Why the TYMO Ring Hair
                  Straightener Comb is Every Woman's Must-Have</a
                >
              </h2>
              <img
                src="<%= require('../../assets/images/TYMO.webp') %>"
                alt="TYMO Ring Hair Straightener Comb"
              />
              <h4>By: TYMO, June 2nd 2024</h4>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="blogMain">
      <div class="blog indexBlog">
          <div>
          <p>Blog of The Day</p>
            <a href="https://amzn.to/3V4hnBn"><h2>Finishing Touch Flawless Legs</h2></a>
            <h3>Leg Hair Remover for Women, Electric Razor with LED Light for Instant and Painless Leg Hair Removal</h3>
            <h4>By: Flawless Legs, April 28th 2024</h4>
            <a href="https://amzn.to/3V4hnBn" ><img src="<%= require('../../assets/images/flawlessLegs.webp') %>" alt="Finishing Touch Flawless Legs"></a>
            <h3>Introduction</h3>
            <article>
              Dreaming of effortlessly smooth legs without the hassle of shaving or the pain of waxing? Look no further than the Finishing Touch Flawless Legs Electric Razor. In this blog post, I'll show you why this innovative device is a must-have addition to your beauty routine. Plus, I'll share real-life testimonials to prove just how effective it is. Trust me, by the end of this, you'll be itching to get your hands on one.
              </article>
              <br></br>
              <h3>Why You Need It</h3>
              <article>
              Let's be real—traditional hair removal methods are a pain, literally. From razor burn to ingrown hairs, they can leave your skin feeling anything but flawless. But with the Finishing Touch Flawless Legs Electric Razor, smooth, flawless legs are just a few swipes away. Say goodbye to nicks, cuts, and irritation, and hello to effortless hair removal with no fuss or mess. Whether you're prepping for a night out or just want to feel confident in your own skin, this electric razor has got you covered.
            </article>
            <br></br>
            <h3>Real-Life Testimonials</h3>
            <article>
              But don't just take my word for it—women everywhere are raving about the Finishing Touch Flawless Legs Electric Razor. From busy moms to beauty gurus, the reviews speak volumes. Users love how easy it is to use, with no redness or irritation afterwards. Plus, many are amazed by how smooth and soft their legs feel after just one use. It's like having a salon-quality treatment in the comfort of your own home, and at a fraction of the cost.
            </article>
            <br></br>
            <h3>Why Wait?</h3>
            <article>
              Ready to experience the magic of the Finishing Touch Flawless Legs Electric Razor for yourself? Grab your <a href="https://amzn.to/3V4hnBn">Finishing Touch Flawless Legs Electric Razor</a> today and say goodbye to shaving woes for good. Trust me, once you try it, you'll wonder how you ever lived without it.
            </article>
          </div>
          </div>
    </div>
    
    <footerall></footerall>
  </main>

    
    <script src="./src-sw.js"></script>
</body>
</html>
