* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: rgb(255, 254, 248);
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  line-height: 1;
  font-family: Didot, 'Bodoni MT', 'Noto Serif Display', 'URW Palladio L', P052, Sylfaen, serif;
  font-weight: 500;
}

a:link:visited {
  color: black;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}

input,
select,
option,
optgroup,
textarea,
button,
pre,
code {
  font-size: 100%;
  font-family: inherit;
}

button:hover, input:hover {
  cursor: pointer;
}

ol,
ul {
  list-style: none;
}

/* ////// */
/* HEADER */
/* ////// */

header {
  top: 0;
  z-index: 999;
  background-color: rgb(241, 116, 116);
  position: fixed;
  height: 4rem;
  width: 100%;
  color: white;
}

header div {
  max-width: 1250px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: auto;
  align-items: center;
}

header div h1 {
  font-weight: 700;
  font-size: 1.5rem;
}

header div div {
  margin-right: 0;
  width: fit-content;
  color: black;
}

header div div div {
  margin: 0 1rem;
}

header div div div a {
  border-bottom: 3px solid rgba(0, 0, 0, 0);
  color: white;
}

header div div div a:hover {
  border-bottom: 3px solid white;
}

header div div div a:link {
  text-decoration: none;
}

header div div div a:visited {
  color: white;
}

#dropdown {
  position: relative;
  display: inline-block;
  height: 50px;
  width: 50px;
}

#myDropdown {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

#myDropdown a {
  background-color: white;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

#myDropdown a:hover {
  background-color: #f1f1f1;
}


/* ////// */
/* FOOTER */
/* ////// */

.footer {
  margin: 0 auto;
  margin-top: 1rem;
  max-width: 800px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

/* ///////// */
/* BLOG POST */
/* ///////// */

main {
  display: flex;
  margin: 0 auto;
  width: 100%;
  max-width: 1300px;
  padding: 1rem;
  height: 100%;
}

.fixed {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  margin: 0 auto;
  padding-top: 100px;
  font-size: 2rem;
  border-right:3px solid black;
  padding-left: 3rem;
}

@media screen and (width <= 1300px) {
  .fixed div, 
  .fixed div h2,
  .fixed div h3,
  .fixed div h4 {
    max-width: 200px;
  }
}

.fixed div {
  max-width: 275px;
}

.fixed div h2 a {
  font-size: 1.2rem;
}

.fixed div h3 {
  font-size: 1rem;
}

.fixed div h4 {
  font-size: 1rem;
}

main h6 {
  margin: 0 auto;
  padding-top: 5%;
  padding-right: 3rem;
}

.blog {
  z-index: 998;
  display: flex;
  flex-direction: column;
  padding: 6%;
  margin: 0 auto;
  border-left:3px solid rgb(241, 116, 116);
}

.long-title {
  margin-left: -2rem;
}

.blog div h2 {
  font-size: 2.5rem;
  font-weight: 800;
  width: 100%;
  text-decoration: underline;
  margin-bottom: 1rem;
  margin-top: 3rem;
}

.blog div h3 {
  color: rgb(46, 46, 46);
  font-size: 1.2rem;
  padding-bottom: .3rem;
  margin-bottom: 5%;
}

.blog div h4 {
  color: rgb(46, 46, 46);
  font-size: 1rem;
  font-weight: 600;
  padding-bottom: .3rem;
  margin-bottom: 1%;
}

.blog div a img {
  width: 100%;
  display: flex;
  margin: 0 auto;
}

.blog div {
  max-width: 700px;
}

.blog div article {
  width: 100%;
}

.blog div article, 
.blog div article a {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 2rem;
  color: rgb(46, 46, 46);
  text-indent: 1rem;
}

.blog div article a {
  color: blue;
}

.blog div h2, 
.blog div h3,
.blog div h4,
.blog div img,
.blog div article {
  max-width: 700px;
}



@media screen and (width <= 1200px) {
  .blog {
    border: none;
    padding: 4rem 0 1rem 1rem ;
  }
  main {
    flex-direction: column;
  }
  main h1 {
    padding: 0 100px;
    background-color: rgb(255, 254, 248);
    padding-top: 60px;
    text-align: center;
  }
  .fixed,
  .fixed div, 
  .fixed div a {
    top: -1000;
    color: white;
  }
}

@media screen and (width <= 600px) {
  header div div div {
    margin: 0 .5rem;
  }
}

/* ///// */
/* index */
/* ///// */

.top5 {
  padding: 1rem;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
}

.top5 h1 {
  font-size: 1.8rem;
  margin-bottom: .5rem;
}

.top5 ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  padding: 0;
}

.top5 ul li {
  width: 20%;
  margin: 0 .2rem;
}

@media screen and (max-width: 800px) {
  .top5 ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
  }
  .top5 ul li:nth-child(5) {
    grid-column: 1 / -1;
  }
  .top5 ul li {
    width: fit-content;
  }
}

.about {
  margin-top: 4rem;
}

.about div {
  width: 90%;
  margin: 0 auto;
}

.about div h2 {
  font-size: 1.8rem;
  margin-bottom: .7rem;
}

.about div h3 {
  font-size: 1.5rem;
  margin-bottom: .5rem;
}

.about div h4 {
  margin-bottom: .5rem;
  border-bottom: 3px solid rgba(0, 0, 0, .3);
}

.about div article {
  line-height: 2rem;
  font-size: 1.1rem;
}